<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hypercar Service Menu</title>
</head>
<body>

<main>
    <h1>Menu</h1>
    <ul>
        <li><a href="{% url 'tickets:change_oil' %}"
               target="_blank">Change oil</a></li>
        <li><a href="{% url 'tickets:inflate_tires' %}"
               target="_blank">Inflate tires</a></li>
        <li><a href="{% url 'tickets:diagnostic' %}"
               target="_blank">Diagnostic</a></li>
    </ul>
</main>

</body>
</html>